In [174]:
import pandas as pd
import numpy as np



data = pd.read_csv('renfe.csv')

for i in ['insert_date','start_date','end_date']:
    data[i] = pd.to_datetime(data[i])

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7671354 entries, 0 to 7671353
Data columns (total 9 columns):
insert_date    datetime64[ns]
origin         object
destination    object
start_date     datetime64[ns]
end_date       datetime64[ns]
train_type     object
price          float64
train_class    object
fare           object
dtypes: datetime64[ns](3), float64(1), object(5)
memory usage: 526.8+ MB

In [176]:
data.isnull().sum()

insert_date         0
origin              0
destination         0
start_date          0
end_date            0
train_type          0
price          573121
train_class     26690
fare            26690
dtype: int64

In [177]:
data.describe()

              price
count  7.098233e+06
mean   6.140090e+01
std    2.568568e+01
min    0.000000e+00
25%    4.120000e+01
50%    5.815000e+01
75%    7.630000e+01
max    3.428000e+02

In [178]:
data['origin'].unique()

array(['MADRID', 'SEVILLA', 'BARCELONA', 'VALENCIA', 'PONFERRADA'],
      dtype=object)

In [179]:
data['destination'].unique()

array(['BARCELONA', 'SEVILLA', 'VALENCIA', 'MADRID', 'PONFERRADA'],
      dtype=object)

In [180]:
data['train_type'].unique()

array(['AVE', 'AVE-TGV', 'R. EXPRES', 'AV City', 'ALVIA', 'INTERCITY',
       'MD-LD', 'REGIONAL', 'AVE-MD', 'AVE-LD', 'LD-MD', 'MD', 'LD',
       'TRENHOTEL', 'MD-AVE', 'LD-AVE'], dtype=object)

In [181]:
data['train_class'].unique()

array(['Preferente', 'Turista', 'Turista Plus', nan, 'Turista con enlace',
       'Cama Turista', 'Cama G. Clase', 'TuristaSólo plaza H',
       'PreferenteSólo plaza H', 'Turista PlusSólo plaza H'], dtype=object)

In [182]:
data['fare'].unique()

array(['Promo', 'Flexible', nan, 'Adulto ida', 'Promo +',
       'Individual-Flexible', 'Grupos Ida', 'Doble Familiar-Flexible',
       'COD.PROMOCIONAL', 'Mesa', '4x100'], dtype=object)

In [183]:
data['start_end_hour'] = data['end_date'] - data['start_date']
data['start_end_hour'] = data['start_end_hour']/np.timedelta64(1,'h')

In [184]:
print(data.head())

          insert_date  origin destination          start_date  \
0 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 05:50:00
1 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 06:30:00
2 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 07:00:00
3 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 07:30:00
4 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 08:00:00

             end_date train_type   price   train_class   fare  start_end_hour
0 2019-04-18 08:55:00        AVE   68.95    Preferente  Promo        3.083333
1 2019-04-18 09:20:00        AVE   75.40       Turista  Promo        2.833333
2 2019-04-18 09:30:00        AVE  106.75  Turista Plus  Promo        2.500000
3 2019-04-18 10:40:00        AVE   90.50  Turista Plus  Promo        3.166667
4 2019-04-18 10:30:00        AVE   88.95       Turista  Promo        2.500000

In [185]:
data['insert_month'] = data['insert_date'].dt.month
data['insert_day'] = data['insert_date'].dt.day
data['insert_hour'] = data['insert_date'].dt.hour
data['insert_min'] = data['insert_date'].dt.minute
data['insert_sec'] = data['insert_date'].dt.second

In [186]:
print(data.head(21))

           insert_date  origin destination          start_date  \
0  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 05:50:00
1  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 06:30:00
2  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 07:00:00
3  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 07:30:00
4  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 08:00:00
5  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 08:30:00
6  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 09:30:00
7  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 10:30:00
8  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 11:30:00
9  2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 12:30:00
10 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 13:25:00
11 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 14:00:00
12 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 14:30:00
13 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 15:30:00
14 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 16:30:00
15 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 17:30:00
16 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 18:30:00
17 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 19:00:00
18 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 19:30:00
19 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 20:30:00
20 2019-04-11 21:49:46  MADRID   BARCELONA 2019-04-18 21:25:00

              end_date train_type   price   train_class      fare  \
0  2019-04-18 08:55:00        AVE   68.95    Preferente     Promo
1  2019-04-18 09:20:00        AVE   75.40       Turista     Promo
2  2019-04-18 09:30:00        AVE  106.75  Turista Plus     Promo
3  2019-04-18 10:40:00        AVE   90.50  Turista Plus     Promo
4  2019-04-18 10:30:00        AVE   88.95       Turista     Promo
5  2019-04-18 11:15:00        AVE  107.70       Turista  Flexible
6  2019-04-18 12:34:00        AVE  107.70       Turista  Flexible
7  2019-04-18 13:15:00        AVE  102.15  Turista Plus     Promo
8  2019-04-18 14:40:00        AVE  102.15  Turista Plus     Promo
9  2019-04-18 15:30:00        AVE  107.70       Turista  Flexible
10 2019-04-18 16:24:00    AVE-TGV  107.70       Turista  Flexible
11 2019-04-18 16:30:00        AVE  100.40       Turista     Promo
12 2019-04-18 17:21:00        AVE  107.70       Turista  Flexible
13 2019-04-18 18:40:00        AVE     NaN    Preferente     Promo
14 2019-04-18 19:15:00        AVE  102.15  Turista Plus     Promo
15 2019-04-18 20:40:00        AVE   75.40       Turista     Promo
16 2019-04-18 21:20:00        AVE   90.50  Turista Plus     Promo
17 2019-04-18 21:30:00        AVE  115.65    Preferente     Promo
18 2019-04-18 22:40:00        AVE   85.10       Turista     Promo
19 2019-04-18 23:40:00        AVE   85.10       Turista     Promo
20 2019-04-18 23:55:00        AVE     NaN           NaN       NaN

    start_end_hour  insert_month  insert_day  insert_hour  insert_min  \
0         3.083333             4          11           21          49
1         2.833333             4          11           21          49
2         2.500000             4          11           21          49
3         3.166667             4          11           21          49
4         2.500000             4          11           21          49
5         2.750000             4          11           21          49
6         3.066667             4          11           21          49
7         2.750000             4          11           21          49
8         3.166667             4          11           21          49
9         3.000000             4          11           21          49
10        2.983333             4          11           21          49
11        2.500000             4          11           21          49
12        2.850000             4          11           21          49
13        3.166667             4          11           21          49
14        2.750000             4          11           21          49
15        3.166667             4          11           21          49
16        2.833333             4          11           21          49
17        2.500000             4          11           21          49
18        3.166667             4          11           21          49
19        3.166667             4          11           21          49
20        2.500000             4          11           21          49

    insert_sec
0           46
1           46
2           46
3           46
4           46
5           46
6           46
7           46
8           46
9           46
10          46
11          46
12          46
13          46
14          46
15          46
16          46
17          46
18          46
19          46
20          46

In [187]:
data['price'] = data['price'].fillna(data['price'].mean())
data = data.dropna()

In [188]:
data = data.drop(['insert_date','start_date','end_date'],1)

one_hot_encoding = pd.get_dummies(data[['origin','destination','train_type','train_class','fare']])
data = data.drop(['origin','destination','train_type','train_class','fare'],1)
data = pd.concat([one_hot_encoding, data], axis=1)

In [189]:
print(data.head())

   origin_BARCELONA  origin_MADRID  origin_PONFERRADA  origin_SEVILLA  \
0                 0              1                  0               0
1                 0              1                  0               0
2                 0              1                  0               0
3                 0              1                  0               0
4                 0              1                  0               0

   origin_VALENCIA  destination_BARCELONA  destination_MADRID  \
0                0                      1                   0
1                0                      1                   0
2                0                      1                   0
3                0                      1                   0
4                0                      1                   0

   destination_PONFERRADA  destination_SEVILLA  destination_VALENCIA  ...  \
0                       0                    0                     0  ...
1                       0                    0                     0  ...
2                       0                    0                     0  ...
3                       0                    0                     0  ...
4                       0                    0                     0  ...

   fare_Mesa  fare_Promo  fare_Promo +   price  start_end_hour  insert_month  \
0          0           1             0   68.95        3.083333             4
1          0           1             0   75.40        2.833333             4
2          0           1             0  106.75        2.500000             4
3          0           1             0   90.50        3.166667             4
4          0           1             0   88.95        2.500000             4

   insert_day  insert_hour  insert_min  insert_sec
0          11           21          49          46
1          11           21          49          46
2          11           21          49          46
3          11           21          49          46
4          11           21          49          46

[5 rows x 52 columns]

In [190]:
data.describe()

,origin_BARCELONA,origin_MADRID,origin_PONFERRADA,origin_SEVILLA,origin_VALENCIA,destination_BARCELONA,destination_MADRID,destination_PONFERRADA,destination_SEVILLA,destination_VALENCIA,...,fare_Mesa,fare_Promo,fare_Promo +,price,start_end_hour,insert_month,insert_day,insert_hour,insert_min,insert_sec
count,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,...,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06,7.644664e+06
mean,1.612144e-01,5.006068e-01,4.133328e-02,1.582850e-01,1.385604e-01,1.667596e-01,4.993932e-01,2.307296e-02,1.590622e-01,1.517121e-01,...,2.092963e-05,6.962455e-01,2.451919e-02,6.140090e+01,3.118384e+00,5.397177e+00,1.637228e+01,1.180751e+01,2.423485e+01,2.956629e+01
std,3.677286e-01,4.999997e-01,1.990599e-01,3.650081e-01,3.454873e-01,3.727611e-01,4.999997e-01,1.501353e-01,3.657341e-01,3.587416e-01,...,4.574844e-03,4.598779e-01,1.546545e-01,2.475067e+01,1.584469e+00,1.248758e+00,7.877853e+00,6.784666e+00,1.508104e+01,1.727225e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.633333e+00,4.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,4.325000e+01,2.500000e+00,4.000000e+00,1.100000e+01,6.000000e+00,1.200000e+01,1.500000e+01
50%,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,6.030000e+01,2.633333e+00,5.000000e+00,1.700000e+01,1.100000e+01,2.300000e+01,2.900000e+01
75%,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,7.630000e+01,3.166667e+00,6.000000e+00,2.200000e+01,1.700000e+01,3.600000e+01,4.500000e+01
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,3.428000e+02,1.241667e+01,8.000000e+00,3.100000e+01,2.300000e+01,5.900000e+01,5.900000e+01

In [191]:
print(data)

         origin_BARCELONA  origin_MADRID  origin_PONFERRADA  origin_SEVILLA  \
0                       0              1                  0               0
1                       0              1                  0               0
2                       0              1                  0               0
3                       0              1                  0               0
4                       0              1                  0               0
...                   ...            ...                ...             ...
7671349                 0              0                  0               0
7671350                 0              0                  0               0
7671351                 0              0                  0               0
7671352                 0              0                  0               0
7671353                 0              0                  0               0

         origin_VALENCIA  destination_BARCELONA  destination_MADRID  \
0                      0                      1                   0
1                      0                      1                   0
2                      0                      1                   0
3                      0                      1                   0
4                      0                      1                   0
...                  ...                    ...                 ...
7671349                1                      0                   1
7671350                1                      0                   1
7671351                1                      0                   1
7671352                1                      0                   1
7671353                1                      0                   1

         destination_PONFERRADA  destination_SEVILLA  destination_VALENCIA  \
0                             0                    0                     0
1                             0                    0                     0
2                             0                    0                     0
3                             0                    0                     0
4                             0                    0                     0
...                         ...                  ...                   ...
7671349                       0                    0                     0
7671350                       0                    0                     0
7671351                       0                    0                     0
7671352                       0                    0                     0
7671353                       0                    0                     0

         ...  fare_Mesa  fare_Promo  fare_Promo +   price  start_end_hour  \
0        ...          0           1             0   68.95        3.083333
1        ...          0           1             0   75.40        2.833333
2        ...          0           1             0  106.75        2.500000
3        ...          0           1             0   90.50        3.166667
4        ...          0           1             0   88.95        2.500000
...      ...        ...         ...           ...     ...             ...
7671349  ...          0           0             0   28.35        7.450000
7671350  ...          0           1             0   33.65        1.633333
7671351  ...          0           1             0   45.30        1.666667
7671352  ...          0           1             0   15.70        2.416667
7671353  ...          0           1             0   45.30        1.666667

         insert_month  insert_day  insert_hour  insert_min  insert_sec
0                   4          11           21          49          46
1                   4          11           21          49          46
2                   4          11           21          49          46
3                   4          11           21          49          46
4                   4          11           21          49          46
...               ...         ...          ...         ...         ...
7671349             5          25           21          26          25
7671350             5          25           21          26          25
7671351             5          25           21          26          25
7671352             5          25           21          26          25
7671353             5          25           21          26          25

[7644664 rows x 52 columns]